In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [3]:
df_enem = pd.read_csv("datasets/microdados_enem_2021/DADOS/MICRODADOS_ENEM_2021.csv", sep=";", encoding="iso-8859-1")

In [5]:
df_enem.columns

Index(['NU_INSCRICAO', 'NU_ANO', 'TP_FAIXA_ETARIA', 'TP_SEXO',
       'TP_ESTADO_CIVIL', 'TP_COR_RACA', 'TP_NACIONALIDADE', 'TP_ST_CONCLUSAO',
       'TP_ANO_CONCLUIU', 'TP_ESCOLA', 'TP_ENSINO', 'IN_TREINEIRO',
       'CO_MUNICIPIO_ESC', 'NO_MUNICIPIO_ESC', 'CO_UF_ESC', 'SG_UF_ESC',
       'TP_DEPENDENCIA_ADM_ESC', 'TP_LOCALIZACAO_ESC', 'TP_SIT_FUNC_ESC',
       'CO_MUNICIPIO_PROVA', 'NO_MUNICIPIO_PROVA', 'CO_UF_PROVA',
       'SG_UF_PROVA', 'TP_PRESENCA_CN', 'TP_PRESENCA_CH', 'TP_PRESENCA_LC',
       'TP_PRESENCA_MT', 'CO_PROVA_CN', 'CO_PROVA_CH', 'CO_PROVA_LC',
       'CO_PROVA_MT', 'NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC', 'NU_NOTA_MT',
       'TX_RESPOSTAS_CN', 'TX_RESPOSTAS_CH', 'TX_RESPOSTAS_LC',
       'TX_RESPOSTAS_MT', 'TP_LINGUA', 'TX_GABARITO_CN', 'TX_GABARITO_CH',
       'TX_GABARITO_LC', 'TX_GABARITO_MT', 'TP_STATUS_REDACAO',
       'NU_NOTA_COMP1', 'NU_NOTA_COMP2', 'NU_NOTA_COMP3', 'NU_NOTA_COMP4',
       'NU_NOTA_COMP5', 'NU_NOTA_REDACAO', 'Q001', 'Q002', 'Q003', 'Q004',
       'Q005', 'Q006', 'Q007', 'Q008', 'Q009', 'Q010', 'Q011', 'Q012', 'Q013',
       'Q014', 'Q015', 'Q016', 'Q017', 'Q018', 'Q019', 'Q020', 'Q021', 'Q022',
       'Q023', 'Q024', 'Q025'],
      dtype='object')

In [22]:
df_enem["SG_UF_PROVA"]

0          MG
1          AL
2          SP
3          CE
4          CE
           ..
3389827    GO
3389828    PR
3389829    RJ
3389830    MG
3389831    RN
Name: SG_UF_PROVA, Length: 3389832, dtype: object

In [8]:
sub = df_enem[["CO_MUNICIPIO_PROVA", 'NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC', 'NU_NOTA_MT']]

### Agrupando por município, para validar

In [19]:
df_means_municipio = sub.groupby("CO_MUNICIPIO_PROVA").agg(
     MD_NU_NOTA_CN = pd.NamedAgg(column= "NU_NOTA_CN", aggfunc="mean") , 
     MD_NU_NOTA_CH = pd.NamedAgg(column= "NU_NOTA_CH", aggfunc="mean"),
     MD_NU_NOTA_LC = pd.NamedAgg(column= "NU_NOTA_LC", aggfunc="mean"),
     MD_NU_NOTA_MT = pd.NamedAgg(column= "NU_NOTA_MT", aggfunc="mean"),

)

In [20]:
df_means_municipio.sort_values("MD_NU_NOTA_MT")

                    MD_NU_NOTA_CN  MD_NU_NOTA_CH  MD_NU_NOTA_LC  MD_NU_NOTA_MT
CO_MUNICIPIO_PROVA
1304237                416.688095     433.253763     419.483871     432.373810
1300607                422.006000     432.375665     410.142127     437.503333
1304302                426.126950     434.173090     427.393355     439.426596
1304260                426.570270     423.564516     404.260215     439.582432
1301951                442.201818     416.327632     397.042105     441.427273
...                           ...            ...            ...            ...
3133808                525.066631     554.399588     536.755922     596.423727
4307807                533.995902     555.725573     532.279771     597.587295
3549904                534.345923     564.892027     544.259394     602.880348
3556701                542.640780     567.996469     550.791808     606.352324
3556206                543.584720     569.407674     547.569709     611.682767

[1747 rows x 4 columns]

### Agrupando pro estado, para validar

In [25]:
sub = df_enem[["SG_UF_PROVA", 'NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC', 'NU_NOTA_MT']]
df_means_estado = sub.groupby("SG_UF_PROVA").agg(
     MD_NU_NOTA_CN = pd.NamedAgg(column= "NU_NOTA_CN", aggfunc="mean") , 
     MD_NU_NOTA_CH = pd.NamedAgg(column= "NU_NOTA_CH", aggfunc="mean"),
     MD_NU_NOTA_LC = pd.NamedAgg(column= "NU_NOTA_LC", aggfunc="mean"),
     MD_NU_NOTA_MT = pd.NamedAgg(column= "NU_NOTA_MT", aggfunc="mean"),

)

In [26]:
df_means_estado

             MD_NU_NOTA_CN  MD_NU_NOTA_CH  MD_NU_NOTA_LC  MD_NU_NOTA_MT
SG_UF_PROVA
AC              469.594137     497.732621     482.732890     495.792953
AL              476.636704     501.636090     484.533819     516.803197
AM              460.326105     482.040857     468.699211     486.207394
AP              467.700774     495.448382     473.610379     491.373826
BA              479.939563     506.234466     489.131131     513.507987
CE              477.067044     504.285991     490.236593     521.452906
DF              508.653293     539.615348     522.697463     552.185937
ES              503.879663     529.864191     510.219550     549.471244
GO              486.978370     514.029345     497.812210     527.629089
MA              465.963606     489.311337     472.789557     496.178127
MG              508.562404     538.845118     519.226587     561.989147
MS              488.595954     511.976074     497.334848     529.098455
MT              483.623653     509.194170     489.762948     521.008177
PA              469.533342     495.210863     473.111071     494.811909
PB              479.156647     504.544145     485.981154     518.062322
PE              480.948450     505.247813     491.825662     524.297760
PI              473.696204     496.514730     479.767914     510.919310
PR              503.979131     531.929584     513.822809     549.262579
RJ              501.475757     535.314526     517.541338     549.592702
RN              490.288657     517.483870     497.919212     529.715421
RO              475.533055     497.053923     480.425912     506.331916
RR              484.066304     506.727142     491.294378     509.594172
RS              503.097548     536.151490     517.557125     550.506460
SC              508.871497     537.235520     515.569904     557.395206
SE              481.446988     504.630326     486.325856     516.794992
SP              512.347536     545.085839     528.755490     568.132996
TO              473.190765     493.752112     478.003912     506.866031